html body{
  font-family: 'Oxygen', sans-serif;
  background-color: #727274;
  color: #EEEEEF;
}
.container {
  width: 100%;
  float: left;
}
.col1{
  width: 20%;
  display:table-cell;
}
.nav{
  z-index:1;
  top: 0;
  position: fixed;
  width: 100%;
  height: 60px;
}
.navbar-nav{
  height: 10%;
  width: 100%;
}
.navbar-toggle{
  position: relative;
  margin-right: 10px;
  margin-top: 10px;
  background-color: #727274;
}
.logo{
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 75px;
  max-height: 75px;
  position: absolute;
  left: 51.5%;
  margin-left: -50px !important;
  display: block;
  -webkit-tansition: -webkit-transform .8s ease-in-out;
  transition: tranform .8s ease-in-out;
}
.logo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul{
  width: 100%;
}
ul li{
  text-align: center;
  margin-top: 5px;
  /*background-color: #AEAEB0; /*remove*/
  /*border: 2px solid #727274; /*remove*/
}

body{
  padding-top: 60px;
}

#welcome {
  text-align:center;
  font-size: 55px;
  margin-top: 250px;
}
