html, body{
  height: 100%;
}
body{
  font-family: 'Oxygen', sans-serif;
}
.nav{
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  opacity: .87;
}
.navbar-toggle{
  margin-top: 10px;
  background-color: #727274;
}
.logo{
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 75px;
  max-height: 75px;
  position: absolute;
  left: 51.5%;
  margin-left: -50px;
  display: block;
  -webkit-tansition: -webkit-transform .8s ease-in-out;
  transition: tranform .8s ease-in-out;
}
.logo:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
ul li{
  text-align: center;
  margin-top: 5px;
  /*background-color: #AEAEB0; /*remove*/
  /*border: 2px solid #727274; /*remove*/
}

/*BIO HERE*/


.jumbotron {
  width: 100%;
  height: 100%;
  background: url('assets/welcomebg.jpg') center center fixed no-repeat;
  background-size: cover;
  opacity: .7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: relative;
  z-index: -1;
}

.bio {
  text-align: center;
  padding-top: 20px;
  color: black;
}

.invisible{
  height: 700px;
  width: 100%;
  position:relative;
}

#welcome {
  font-size: 55px;
  width: 100%;
}
#iam{
  margin-top: 50px;
  width: 70%;
  margin: 0 auto;
  color: black;
}


/*Projects*/
#projtitle{
  text-align:center;
  color: black;
  font-size: 45px;
}

.d-block{
  margin: 0 auto;
}
